cd "/c/Users/maxkm/OneDrive/Desktop/TEAM-13-Medical-Clinic-Database-Project" && echo "DB_HOST=caboose.proxy.rlwy.net
DB_PORT=55239
DB_USER=root
DB_PASSWORD=nlJDIavQRHMiHBgtNmZHwnNHNrrcZisB
DB_NAME=railway
PORT=3000" > .env
