body {
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #84A98C;
    font-family: Garamond;
}

h2 {
    color: white;
    font-family: Garamond;
}

.PLW {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #84A98C;
    border-radius: 25px;
    width: 300px;
    margin: 50px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin-top: 10px;
}

button {
    background-color: white;
    margin: 20px;
}

a {
    margin-top: 10px;
}